/* NAVBAR ESTILOS */
.navbar-items{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.item-cart {
width: 120%;
height: 100%;
}

/* BODY */
.titulo {
  text-align: center;
}

