/* NAVBAR ESTILOS */
.navbar-items{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.item-cart {
  display: block;
position: relative;
bottom: 32px;
width: 150%;
height: 100%;
}
.logomym {
display: block;
position: relative;
bottom: 20px;
width: 120px;
height: 120px;
}
.nav-item-list {
  display: block;
  position: relative;
  top: 20px;
}

/* BODY */
.titulo {
  text-align: center;
}

/* MEDIA QUERY */
@media (max-width: 600px) { 
  .logomym {
    display: none;
  }
  .item-cart {
    display: block;
    position: relative;
    top: 10px;
    width: 120%;
    height: 100%;
  }

}